{% extends 'base.html.twig' %}

{% block title %}Let's chatte{% endblock %}

{% block body %}

    <div class="row mx-0 h-100">
        <div class="col-12 col-md-10 h-100 p-0">

            <div class="chat-container" id="chatBox">


            </div>

            <form class="chat-form" id="formChat">

                <div class="row">
                    <div class="col-10">
                        <div class="form-group p-1">
                            <textarea class="form-control" id="chatContent" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-1 pl-0 row">
                        <button class="btn-clear " type="submit">
                    <span class="fa-stack">
                      <i class=" text-discord fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                        </button>

                    </div>
                </div>


            </form>

        </div>
        <div class="col-2 d-none d-md-block  h-100 user-list">
            <div class="logout text-right mb-1">
                <a href="{{ path('app_logout') }}">Déconnexion <i class="fa fa-sign-out"></i></a>

            </div>
            <div class="user-container">

            </div>


        </div>
    </div>

    <script>
        function updateScroll() {
            var element = document.getElementById("chatBox");
            element.scrollTop = element.scrollHeight;

        }

        function getUsers() {
            var userContainer = $('.user-container')

            $.get("{{ path('api_get_users') }}", function (data) {
                let x
                for (x in data.users) {
                    let user = data.users[x]

                    let card = $('#userCard' + user.username);

                    if (!card.length) {
                        let firstLetter = user.username.substring(0, 1)

                        let userCard = `<div class="user-card" id="userCard${user.username}" >
                    <div class="row">
                        <div class="col-2">
                                     <span class="fa-stack h6" >
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fa-stack-1x text-white">${firstLetter}</i>
                                            <div class="offline" id="userStatus${user.username}"></div>
                                    </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                               ${user.username}
                            </small>
                        </div>

                    </div>
                </div>`
                        userContainer.append(userCard)
                    }

                    let onlineDivStatus = $('#userStatus' + user.username)
                    if (user.isOnline) {
                        if (!onlineDivStatus.hasClass('online')) {
                            onlineDivStatus.addClass('online')
                            onlineDivStatus.removeClass('offline')
                        }
                    } else {
                        if (onlineDivStatus.hasClass('online')) {
                            onlineDivStatus.addClass('offline')
                            onlineDivStatus.removeClass('online')
                        }
                    }

                }
                setTimeout(getUsers, 10000)

            })
        }

        function iAmHere() {
            $.get("{{ path('api_presence') }}", function () {

                setTimeout(iAmHere, 9000)
            })
        }

        function getMessages() {
            var chatBox = $('#chatBox')

            $.get("{{ path('api_get_current_messages') }}", function (data) {
                let x
                for (x in data.messages) {
                    let message = data.messages[x]
                    let firstLetter = message.author.substring(0, 1)
                    var dateObj = new Date(message.sendAt.date);

                    let messageContent = `<div class="message" data-id="${message.id}">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">${firstLetter}</i>
                    </span>
                        <small class="text-muted font-weight-bold username">${message.author}</small>
                        <xtrasmall class="text-muted">${dateObj.getDate()}/${dateObj.getMonth() + 1}/${dateObj.getFullYear()}
                            à ${dateObj.getHours()}:${dateObj.getMinutes()}</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        ${message.content}
                    </div>
                </div>`
                    chatBox.prepend(messageContent)

                }
                updateScroll()
                getNewMessages()
            })
        }

        function sendMessage() {
            let content = $('#chatContent').val()
            $.post("{{ path('api_send_message') }}", {
                content: content
            }, function (data) {
                if (data.status == 500) {
                    alert(data.error)
                } else {
                    let firstLetter = data.author.substring(0, 1)
                    let dateObj = new Date(data.sendAt.date)
                    let messageContent = `<div class="message" data-id="${data.id}">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">${firstLetter}</i>
                    </span>
                        <small class="text-muted font-weight-bold username">${data.author}</small>
                        <xtrasmall class="text-muted">${dateObj.getDate()}/${dateObj.getMonth() + 1}/${dateObj.getFullYear()}
                            à ${dateObj.getHours()}:${dateObj.getMinutes()}</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        ${content}
                    </div>
                </div>`
                    let chatBox = $('#chatBox')
                    chatBox.append(messageContent)
                    updateScroll()
                }
            })
        }

        function getNewMessages() {
            let url = "{{ path('api_get_new_messages', {'offset': "toto"}) }}"
            let lastChildren = $('#chatBox').children().last()
            let offset = lastChildren.attr('data-id')
            if (offset != undefined) {
                url = url.replace("toto", offset)
                let chatBox = $('#chatBox')
                $.get(url, function (data) {
                    let x
                    for (x in data.messages) {
                        let message = data.messages[x]
                        if ($('#chatBox').children().last().attr('data-id') != message.id) {
                            let firstLetter = message.author.substring(0, 1)
                            let dateObj = new Date(message.sendAt.date)

                            let messageContent = `<div class="message" data-id="${message.id}">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">${firstLetter}</i>
                    </span>
                        <small class="text-muted font-weight-bold username">${message.author}</small>
                        <xtrasmall class="text-muted">${dateObj.getDate()}/${dateObj.getMonth() + 1}/${dateObj.getFullYear()}
                            à ${dateObj.getHours()}:${dateObj.getMinutes()}</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        ${message.content}
                    </div>
                </div>`
                            chatBox.append(messageContent)

                        }
                    }
                    setTimeout(getNewMessages, 1000)
                })
            } else {
                setTimeout(getNewMessages, 1000)
            }

        }

        function getOlderMessages() {

        }

        $(document).ready(() => {
            updateScroll()
            iAmHere()
            getUsers()
            getMessages()


            $('#formChat').submit(function (event) {
                event.preventDefault()
                sendMessage()
                $('#chatContent').val('')
            })

            $('#chatBox').scroll(function (event) {
                if ($('#chatBox').scrollTop() == 0) {
                    let url = "{{ path('api_get_old_messages', {'offset': "toto"}) }}"
                    let offset = $('#chatBox').children().first().attr('data-id');
                    url = url.replace("toto", offset)
                    let chatBox = $('#chatBox')
                    $.get(url, function (data) {
                        let x
                        for (x in data.messages) {
                            let message = data.messages[x]
                            let firstLetter = message.author.substring(0, 1)
                            let dateObj = new Date(message.sendAt.date)

                            let messageContent = `<div class="message" data-id="${message.id}">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">${firstLetter}</i>
                    </span>
                        <small class="text-muted font-weight-bold username">${message.author}</small>
                        <xtrasmall class="text-muted">${dateObj.getDate()}/${dateObj.getMonth() + 1}/${dateObj.getFullYear()}
                            à ${dateObj.getHours()}:${dateObj.getMinutes()}</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        ${message.content}
                    </div>
                </div>`
                            chatBox.prepend(messageContent)
                        }

                        $('#chatBox').children().each(function(){
                            if ($(this).attr('data-id') == offset){
                                $(this).get(0).scrollIntoView();
                            }
                        })
                    })
                }
            })


        })


    </script>

{% endblock %}
